.profileDesign{
    padding: auto;
}

.card_design{
    background-color:lightslategray;
    margin-top: 150px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 1.1rem;
    color: aliceblue;
    box-shadow: 2px 2px 3px 3px aliceblue;
}

.button_create_design{
    border: 0px;
    background-color: rgba(240, 248, 255, 0);
    font-size: 1.3rem; 

}

.button_create_design:hover{
    background-color: rgba(240, 248, 255, 0);
    font-size: 1.4rem;
}

.col_button_create{
    background-color:rgb(103, 138, 174);
    margin-top: 150px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 1.1rem;
    color: aliceblue;
    box-shadow: 2px 2px 3px 3px aliceblue;
}