.characterCard {
    display: flex;
    flex-direction: column;
    height: 10em;
    width: 10em;
    margin-top: 1em;
    background-color: dimgray;

 
}

.character-card:hover{
    transition-duration: 1s;
    transform: rotateX(360deg) scale(1.25);
    box-shadow: 50px blue ;
}