.headerDesing {
    display: flex;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.488);
}
.p_color{
    color: rgb(241, 191, 110);
}

.nav_link_home {
    margin: 0 auto;
}

@media screen and (min-width: 990px) {

    .nav_link_log {
        margin-left: 60vw;
    }
}